@font-face {
	font-family: GalanoGrotesque;
	src:url(/fonts/galanogrotesque.ttf),
	url(/fonts/galanogrotesque.woff2) format('woff2'),
	url(/fonts/galanogrotesque.woff) format('woff');
	font-weight: 400; }
